@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default, light --prefersdark;
}
@plugin "daisyui/theme" {
  default: true;
  --color-primary: #db1d10;
  --color-secondary: #df3428;
  --color-dark: #af170d;
}
