body {
  background-color: black;
}
* {
  box-sizing: border-box;
}
.overlay1::after {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.active {
  color: #df3428;
}
